#timeChooser{
    width:80px;
    height: 21px;
    border-top: none;
    border-left: none;
    border-right: none;
    
}

#timeChooserImage{
    margin-bottom: 10%;
}

.timeChooserOption{
    width: 80px;
}

