#userLayoutIdeasSelectSideBar{
    display: inline-block;
    margin-right: 4%;
    vertical-align: top;
    width: 22%;
}

#UserIdeasTypeDropDown{
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 6px 1px;
}

#userNameAndLogourBar{
    display: flex;
    justify-content: space-between;
    background-color: #ffdac1;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 110%;
    transform: translateX(-5%);
}

#userLogoutButton{
    display: inline-block;
    text-align: right;
}

#userLayout{
    margin: 1% 22%;
}

#userLayoutIdeaPreview{
    display: inline-block;
    width: 74%;
}

#userIdeaCardDummy{
    margin-top: 35px;
    height: 500px;
    width: 93%;
    /* background-color: beige; */
    /* border: solid; */
    border-width: 1px;
}

#emptyIdeaText{
    font-size: 25px;
}

#emptyIdeasList{
    padding-left: 5px;
    font-size: 20px;
}