#userLayoutIdeasSelectSideBar{
    width: 220px;
    margin-left: 120px;
    margin-top: 30px;
}

#UserIdeasTypeDropDown{
    margin-bottom: 10px;
    box-shadow: 0px 0px 6px 1px;
}

#userLayoutIdeaPreview{
    position: fixed;
    left: 380px;
    top: 122px;
    width: 74%;
}

#userIdeaCardDummy{
    margin-top: 35px;
    height: 500px;
    width: 93%;
    /* background-color: beige; */
    /* border: solid; */
    border-width: 1px;
}

#emptyIdeaText{
    font-size: 25px;
}

#emptyIdeasList{
    padding-left: 5px;
    font-size: 20px;
}