#loginScreen{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: grey;
    z-index: 100;
}

#loginContent{
    width: 40%;
    height: 60%;
    margin: 100px auto;
    background-color: white;
    border: solid;
    border-width: 0.1px;
}

#loginScreenMainLogo{
    color: black;
    font-size: 90px;
    font-weight: bold;
    font-family: fantasy;
}

#loginButtons{
    opacity: 1;
}

#mainLogoLoginContainer{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.LoginButtonContainer{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}