#newIdeaTitleContainer{
    margin-bottom: 5px;
}

#ideaCardContent{
    margin:10px;
    
}

input:focus {
    outline:none;
}

#newIdeaTitle{
    background-color: #F4F9FF;
    border: none;
    float: left;
    width: 97%;
    margin-bottom: 10px;
    font-size: 30px;
}

#newIdeaContent{
    background-color: #F4F9FF;
    border: none;
    width: 100%;
    resize: none;
    padding: 0px;
    min-height: 400px;
    font-size: 17px;
}

.userPageIdeaButton{
    height: 60px;
    width: 60px;
}

#createIdeaButton{
    display: inline-block;
    padding: 12px;
    padding-right: 23px;
    padding-left: 23px;
    margin-top: 26px;
    background-color: bisque;
    font-family: cursive;
    cursor: pointer;
    border-radius: 4px;
}

.ideaButton{
    display: inline-block;
    margin-top: 13px;
    padding: 20px;
    background-color: cyan;
    font-family: cursive;
    cursor: pointer;
}

#newIdeaError{
    color: red;
    font-size: 30px;
}

#createIdeaTable{
    width: 100%;
    padding: 10px;
}