.ideaTopButton{
    height: 20px;
    width: 20px;
}

.ideaTitle{
    font-family: cursive;
    color: black;
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#createIdeaCardContent{
    padding: 10px;
}

#createIdeaContainer{
    box-shadow: 0px 0px 20px 5px;
}

#ideaMainContent{
    background-color: thistle;
    height: 500px;
}

#ideaContentText{
    color: grey;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: 350px;
    overflow-y: auto;
}

#ideaCard{
    box-shadow: 0px 0px 20px 5px;
    background-color: white;
    min-height: 350px;
    max-height: 550px;
    display: table-cell;
    width: 9000%;   /* acts as 90.00% */
    
}

#ideaCardInUser{
    box-shadow: 0px 0px 20px 5px;
    background-color: white;
    min-height: 350px;
    max-height: 550px;
    width: 95%;   /* acts as 90.00% */
    margin: auto;
    
}

#statusButtons{
    margin-top: 5px;
}

#ideaMainContentBottomButtons{
    height:30px;
}

#ideaContent{
    width:95%;
    display: inline-block;
}

#ideaDrawer{
    width:5%;
    height: 100%;
    display: inline-block;
    background-color: grey;
}

.bottomButton{
    height:30px;
    width: 30px;
}

.bottomIndicator{
    margin-right: 30px;
    display: inline-block;
}

#cardIndicators{
    display: inline-block;
    text-align: center;
    width: 60%;
    margin-right: 20%;
    float: right;

}

#cardIndicationButtons{
    /* margin-top: 10px; */
    padding-bottom: 5px;
    margin: 10px;
    height: 25px;
}

#shareContainer{
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#ideaCardWithShare{
    margin-bottom: 15px;
}

#saveIdeaButton{
    width: 60px;
    height: 60px;
}

#ideaMainContentContainer{
    height: 200px;
}

#doneButton{
    margin-left: 40%;
    margin-top: 10px;
}

#editIdeaButton{
    height: 60px;
    width: 60px;
}