.ideaTopButton{
    height: 20px;
    width: 20px;
}

.ideaTitle{
    font-family: cursive;
    color: black;
    font-size: 40px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#createIdeaCardContent{
    padding: 20px 0px;
    background-color: #b3c4fd2e;
    border-radius: 20px;
    margin: 0% 7%;
    border: solid;
    border-width: 1px;
    border-color: #a3d8ff;
    margin-bottom: 15px;
}

#ideaCardIdeaArrows{
    text-align: right;
}

#ideaCardWithButtonsInUser{
}

/* #createIdeaContainer{
    box-shadow: 0px 0px 6px 1px;
    margin-bottom: 20px;     
} */

#createIdeaCard{
    box-shadow: 0px 0px 6px 1px;
    margin-bottom: 20px;
}

#ideaCardWithTopBar{
    display: inline-block;
}

#ideaMainContent{
    background-color: thistle;
    height: 500px;
}

.ideaStats{
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;

}

#userPageIdeaNumOfPeople{
    /* float: left; */
    display: inline-block;
    margin-left: 20px;
}

.userPageIdeaIndicator{
    display: inline-block;
    margin-right: 30px;
}

#ideaContentText{
    color: grey;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: 450px;
    overflow-y: auto;
    
    white-space: pre-line; /* to enable line breaks in content text */
}

#shareButtonContainer{
    float: right;
}

.gmap_container{
    text-align: center;
    height: 70%;
}

#gmap_canvas{
    height: 100%;
}

#ideaCard{
    box-shadow: 0px 0px 3px 1px;
    margin-bottom: 5px;
    background-color: #f0fffc;
    border-radius: 20px;
    
}

#ideaCardInUser{
    box-shadow: 0px 0px 6px 3px;
    background-color: white;
    min-height: 350px;
    max-height: 550px;
    width: 100%;   /* acts as 90.00% */
}

#statusButtons{
    margin-top: 5px;
}

#ideaMainContentBottomButtons{
    height:30px;
}

#ideaContent{
    width:95%;
    display: inline-block;
}

#ideaDrawer{
    width:5%;
    height: 100%;
    display: inline-block;
    background-color: grey;
}

.bottomButton{
    height:30px;
    width: 30px;
    /* cursor: pointer; */
}

.bottomIndicator{
    margin-right: 30px;
    display: inline-block;
}

#cardIndicators{
    display: inline-block;
}

#cardIndicationButtons{
    /* margin-top: 10px; */
    display: inline-block;
    padding-bottom: 5px;
    margin: 10px;
    height: 25px;
}

#shareContainer{
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#shareAndLikeContainer{
    float: right;
}

#ideaCardWithShare{
    margin-bottom: 15px;
}

#saveIdeaButton{
    text-align: center;
    margin-right: 7%;
    float: right;
    padding: 10px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    cursor: pointer;
}

#ideaMainContentContainer{
    height: 200px;
}

#doneButton{
    margin-left: 40%;
    margin-top: 10px;
}

#createIdeaTitle{
    float: left;
}

.cardLeftArrowContainer{
    width: 7%;
    position: absolute;
}

#ideaCardLeftArrow{
    vertical-align: middle;
    height: 35px;
    width: 20px;
    margin-top: 223px;
}

.cardHoverArrow:hover{
    opacity: 0.3;
}

.cardHoverArrow{
    height: 55.5%;
    opacity: 0.0;
    background-color: papayawhip;
    text-align: center;
}

.cardRightArrowContainer{
    width: 7%;
    position: absolute;
    margin-left: 29.5%;
}

#ideaCardRightArrow{
    vertical-align: middle;
    height: 35px;
    width: 20px;
    margin-top: 223px;
}

#editIdeaButton{
    vertical-align: top;
}

#createInfoButton{
    width: 20px;
    height: 20px;
}

#attachImageButton{
    width: 20px;
    height: 20px;
}

#contentTextAreaWithAttach{
    display: flex;
}

.jodit_statusbar{
    background-color: purple;
}

.jodit_workplace{
    background-color: azure;
    min-height: 150px;
}

.jodit_wysiwyg{
    min-height: 150px;
}

.jodit_toolbar_container {
    background-color: red;
}

.jodit_toolbar {
    background-color: red;
}

#infoButton{
}

#infoButtonTitle{
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#userIdeaActionButtonsSection{
    display: table-cell;
    height: 100%;
    width: 5%;
    vertical-align: middle;
    padding-left: 10px;
}

#userActionButtons{
    margin: 10px;
    float: right;
}

#userIdeaCard{
    
}

#userCardBottomSection{
    float: right;
    /* display: flex;
    justify-content: space-between; */
}

.ideaPropertyField{
    padding: 2px 6px 4px 6px;
    border: solid;
    border-width: 1px;
    background-color: white;
}

.fieldError{
    text-align: left;
    margin-bottom: 10px;
    color: red;
    font-size: 23px;
}