.verticalMiddleAlign{
    position: relative;
    transform: translateY(25%);
}

.displayInlineBlock{
    display: inline-block;
}

.mainContent{
  padding: 0 20%;
}

.userLayoutMainContent{
    padding: 0 0;
}

.hoverClickHand{
    cursor: pointer;
}

#mainLogo{
    display: inline-block;
    color: white;
    font-size: 60px;
    font-family: fantasy;
    font-weight: bold;

}

.alignMiddleDiv{
    margin: auto;
}

.layoutTitle{
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 40%;
}