.verticalMiddleAlign{
    /* position: relative; */
    /* transform: translateY(25%); */
}

.displayInlineBlock{
    display: inline-block;
}

.mainContent{
  padding: 0 20%;
}

.alignRight{
    float: right;
    text-align: right;
}

.errorText{
    /* width: 27%; */
}

.invisible{
    opacity: 0;
}

.userLayoutMainContent{
    padding: 0 0;
}

.hoverClickHand{
    cursor: pointer;
}

.inlineBlock{
    display: inline-block;
}

.createMainContent{
    /* margin: 25px 15%; */
    margin-top: 20px
}

#mainLogo{
    display: inline-block;
    color: white;
    font-size: 75px;
    font-family: fantasy;
    font-weight: bold;

    padding-top: 100px;

    transform: rotate(90deg);
    transform-origin: left 96%;

}

.alignMiddleDiv{
    margin: auto;
}

.smallZIndex{
    
}

.layoutTitle{
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 40%;
}

.vertical-text {
	transform: rotate(90deg);
    transform-origin: center; 
    /* left top 0 */
}