#searchButton{
    padding: 7px;
    height: 30px;
    width: 30px;
    background-color: #326A9E;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

#searchButton :hover{
    background-color: #326a90;
}

#searchButton :active{
    background-color: #516f83;
}