.searchCardRightArrowContainer{
    width: 7%;
    position: absolute;
    margin-left: 24%;
    text-align: center;
    height: 56%;
    background-color: tan;
    opacity: 0;
    border-radius: 20px;
}

.searchCardRightArrowContainer:hover {
    opacity: 0.2;
}

.searchCardLeftArrowContainer{
    width: 7%;
    position: absolute;
    height: 56%;
    background-color: tan;
    opacity: 0;
    text-align: center;
    border-radius: 20px;
}

.ideaCardListItem{
    background-color: bisque;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 0;
    padding-left: 5px;
    cursor: pointer;
}

.ideaCardListItem:hover{
    background-color: lavender;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 0;
    padding-left: 5px;
    cursor: pointer;
}

.selectedItemsListItem{
    background-color: lavender;
    border-radius: 10px;
}


.searchCardLeftArrowContainer:hover{
    opacity: 0.2;
}