.listOutline{
}

.listRow{
    font-weight: bolder;
    background-color: floralwhite;
    margin-bottom: 5px;
}

.listRow:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

#userIdeasList{
    box-shadow: 0px 0px 20px 1px;
}