.UserIdeasTypeDropDown{
    /* width: 100%;
    margin-bottom: 30px;
    border-bottom: solid;
    margin-bottom: 4px;
    border-width: 2px; */
    font-size: 25px;
    font-weight: bold;
    border-bottom: solid;
}

.uderIdeasTypeDropDownContainer{
    /* width: 4%; */
}

.Dropdown-control{
    border: none;
    background-color:rgba(0,0,255,0.0);
}