.searchBarIcon{
    height:20px;
    width:20px;
    margin-right: 5px;
}

.searchBarText{
    size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}


.createBarTextBox{
    height: 35px;
    width: 200px;
    margin-right: 20px;
    box-shadow: 0px 0px 20px 2px;
}

#createBarNumOfPeopleCreator{
    margin-right: 10px;
}

#createBar{
    width: 80%;
}

.createBarDropDown{
    width: 145px;
    height: 47px;
    margin-right: 10px;
    padding: 10px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.numOfPeopleCreatorDropDown{
    width: 110px;
    height: 47px;
    /* margin-right: 10px; */
    padding: 10px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

 .searchBarChooserContainer{
    display: inline-block;
    /* background-color: white; */
    margin-right: 10px;
} 

#searchBar{
    margin-bottom: 15px; 
    margin-top: 20px;
    background-color: #c7ceea;
    padding-top: 10px;
    /* padding-bottom: 5px; */
    text-align: center;
    border-radius: 20px;
}

#editBarButtons{
    /* margin-bottom: 20px; */
    text-align: center;
}

.searchBarTextField{
    margin-right: 1%;
    width: 33%;
}

.createBarTextField{
    margin-right: 2%;
    width: 33%;
}

.searchBarComboBox{
    width: 11%;
    margin-right: 1%;
}

.createBarComboBox{
    width: 15%;
    margin-right: 1%;
}

.topBarName{
    font-size: 50px;
    font-weight: 800;
    vertical-align: middle;
}

.searchBarTextSquare{
    width: 240px;
    height: 25px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
}


.searchBarTextSquareWidth{
    width: 27%;
}

.searchBarDropDownSquare{
    width: 100%;
    height: 47px;
    /* margin-right: 10px; */
    /* padding: 10px 10px; */
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.createBarMiddlePlaceHolder{
    font-size: 30px;
    margin: -5px;
}

.middlePlaceHolder{
    height: 100%;
    width: 8px;
    z-index: 100;
    display: inline-block;
    position: relative;
    vertical-align: middle;

}

#searchButtonContainer{
    height: 100%;
    display: inline-block;
}

#searchBarButtons{
    width: 100%;
}

.fieldHeader{
    font-size: 21px;
    margin-left: 5px;
    text-align: center;
}

#createIdeaLogo{
    font-size: 30px;
    padding-bottom: 20px;
    float: left;
    margin-top: 32px;
    margin-right: 10px;
}