.searchBarIcon{
    height:20px;
    width:20px;
    margin-right: 5px;
}

.searchBarText{
    size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}

.searchBarChooserData{
    margin: 10px;
}

 .searchBarChooserContainer{
    display: inline-block;
    /* background-color: white; */
    mergin-right: 10px;
} 

.middleSearchBarBox{
    box-shadow: 10px 10px 10px 10px;
}

#searchBar{
    margin-bottom: 20px; 
    margin-top: 15px;
    text-align: center;
}

.topBarName{
    font-size: 50px;
    font-weight: 800;
    vertical-align: middle;
}

.searchBarTextSquare{
    box-shadow: 0px 0px 20px 2px;
    z-index: 0;
    position: relative;
    height: 35px;
    width: 200px;
}

.searchBarDropDownSquare{
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: 0px 0px 20px 2px;
    z-index: 0;
    position: relative;
    height: 40px;
    width: 100px;
}

.middlePlaceHolder{
    height: 60px;
    width: 10px;
    z-index: 100;
    display: inline-block;
    background-color: #F4F9FF;
    position: relative;
    vertical-align: middle;

}