.searchBarIcon{
    height:20px;
    width:20px;
    margin-right: 5px;
}

.searchBarText{
    size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}


.createBarTextBox{
    height: 35px;
    width: 200px;
    margin-right: 20px;
    box-shadow: 0px 0px 20px 2px;
}

#createBarNumOfPeopleCreator{
    margin-right: 10px;
}

#createBar{
    /* float:left; */
}

.createBarDropDown{
    width: 145px;
    height: 47px;
    margin-right: 10px;
    padding: 10px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.numOfPeopleCreatorDropDown{
    width: 145px;
    height: 47px;
    /* margin-right: 10px; */
    padding: 10px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

 .searchBarChooserContainer{
    display: inline-block;
    /* background-color: white; */
    mergin-right: 10px;
} 

#searchBar{
    margin-bottom: 35px; 
    margin-top: 20px;
    background-color: darkgray;
    padding-top: 10px;
    padding-bottom: 5px;
}

#editBarButtons{
    margin-bottom: 20px;
    padding-left: 30px;
}



.topBarName{
    font-size: 50px;
    font-weight: 800;
    vertical-align: middle;
}

.searchBarTextSquare{
    width: 240px;
    height: 25px;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
}


.searchBarTextSquareWidth{
    width: 27%;
}

.searchBarDropDownSquare{
    width: 145px;
    height: 47px;
    margin-right: 10px;
    padding: 10px 10px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.createBarMiddlePlaceHolder{
    font-size: 30px;
    margin: -5px;
}

.middlePlaceHolder{
    height: 100%;
    width: 8px;
    z-index: 100;
    display: inline-block;
    position: relative;
    vertical-align: middle;

}

#searchBarButtons{
    margin-top: 10px;
}

.fieldHeader{
    font-size: 23px;
    margin-left: 5px;
}

#createIdeaLogo{
    font-size: 30px;
    padding-bottom: 20px;
    float: left;
    margin-top: 32px;
    margin-right: 10px;
}