#timeCreator{
    width: 40px;
}

#timeCreatorField{
    display: block;
}

.timeCreatorCommon{
    height: 30px;
    border-radius: 4px;
    border: 0px solid #aaa;
    width: 47%;
}

#minTimeCreator{
}

#maxTimeCreator{
    
}

#timeCreatorDivider{
    width: 1%;
    margin-left: 1%;
}

#timeCreatorSelectors{
}