#leftSideBar{
    position:absolute;
    top: 0;
    left: 0;
    height:100%;
    width:75px;
    background-color: black;
}

.leftBarIcon{
    display: block;
    margin: auto;
    height:60px;
    width:60px;
}
