#leftSideBar{
    position:absolute;
    top: 0;
    left: 0;
    height:110%;
    width:75px;
    background-color: black;
    padding-top: 7px;
}

#topBar{
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    border-bottom-color: lightgrey;
}

#mainLogoText{
    font-size: 35px;
    vertical-align: bottom;
    font-family: cursive;
}

#rightSideButtons{
    height: 0px;
    text-align: right;
    margin-right: 5px;
    padding-top: 5px;
}

.leftBarIcon{
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
    border: solid;
    border-color: white;
    border-radius: 22px;
    border-width: 3px;
    padding: 4px;
    margin-bottom: 5px;
}

.topBarIcon{
    margin: auto;
    height: 30px;
    width: 30px;
    border: solid;
    border-color: black;
    border-radius: 17px;
    border-width: 2px;
    padding: 3px;
    margin-left: 4px;
}

.topBarIconSelected{
    margin: auto;
    height: 30px;
    width: 30px;
    border: solid;
    border-color: black;
    border-radius: 17px;
    border-width: 2px;
    background-color: blanchedalmond;
    padding: 3px;
    margin-left: 4px;

}


.leftBarIconSelected{
    display: block;
    margin: auto;
    height: 50px;
    width: 50px;
    border: solid;
    border-color: white;
    border-radius: 22px;
    border-width: 3px;
    padding: 4px;
    margin-bottom: 5px;
    background-color: slategrey;
}

#createIdeaBar{
    margin: 0px 25%;
    margin-bottom: 35px;
    border-bottom-width: 2px;
    background-color: #97d1ff73;
    border-radius: 20px;
}

#searchCardAndList{
    margin: 0% 5%;
}

.pageName{
    margin-left: 90px;
    font-size: 30px;
    border-bottom: solid;
    display: inline-block;
    margin-bottom: 7px;
}

#mainLogoImage{
    height: 40px;
    margin-left: 5px; 
    vertical-align: super;
    margin-right: 5px;
}