.listRow:hover{
    background-color: coral;
    cursor: pointer;
}

#topTableColumnContainer{
    display: inherit;
    /* padding-right: 30px; */
}

.combinedListHeader{
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
}

.topTableItemImage{
    width: 100%;
    /* max-width: 150px; */
    border-radius: 10px;
    border: solid;
    border-color: bisque;
}

.topTableListItem{
    margin-bottom: 10px;    
}

.topTableSelectedTitleClassName{
    background-color: lawngreen;
}

.topTableListItem:hover{
    background-color: lavender;
}

.topTableItemTitle{
    font-family: cursive;
}

#topLikedTable{
    
    
}

#topTableHeaderSelected{
    font-size: 20px;
}

#topTableClicked{
    height: 512px;
}

.topIdeasTableClicked{
    margin-bottom: 30px;
}

#topPopularTable{
}

#topNewestTable{
    
}

#topTableTopRow{
    margin-bottom: 20px;
}

#topLikedTableClicked{
    margin-bottom: 30px;
}

#topTableIdea{
    display: inline-block;
    padding: 0 3%;
    width: 80%;
}

#topTableListsClicked{
    vertical-align: top;
    display: inline-block;
    width: 20%;
    padding-left: 20px;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

#topTableListsClicked::-webkit-scrollbar {
    width: 0em;
  }
   
/* #topTableListsClicked::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
#topTableListsClicked::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
} */


#topTableHeader{
    font-size: 35px;
    font-family: "Arial Black";
    margin-bottom: 20px;
    background-color: aliceblue;
    margin-right: 50px;
    text-align: center;
    border-radius: 10px;
}

.topTableHeader{
    font-size: 25px;
    margin-bottom: 5px;
    font-family: "Arial Black";
}

.topTableColumn{
    width: 28%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
}

#topTable{
    padding: 45px;
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #fff7eb;
    border-radius: 15px;
    padding-right: 0px;
    margin: 0% -10%;
    max-height: 500px;
    overflow: hidden;
}

#topTable:hover{
    overflow-y: scroll;    
}

.topTableCardLeftArrowContainer{
    width: 7%;
    position: absolute;
    height: 56%;
    background-color: tan;
    text-align: center;
    opacity: 0;
}

.topTableCardLeftArrowContainer:hover{
    opacity: 0.2;
}

.selectedTopTableListHeader{
    font-weight: bold;
    border-radius: 10px;
    background-color: antiquewhite;
}

.topTableCardRightArrowContainer{
    width: 7%;
    text-align: center;
    position: absolute;
    margin-left: 29.5%;
    height: 55.5%;
    background-color: tan;
    opacity: 0;
}

.topTableCardRightArrowContainer:hover{
    opacity: 0.2;
}