.listRow:hover{
    background-color: coral;
    cursor: pointer;
}

#topLikedTable{
    width: 48%;
    display: inline-block;
}

#topHardTable{
    width: 48%;
    display: inline-block;
}

#topPopularTable{
    width: 48%;
    display: inline-block;
}

#topNewestTable{
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

#topTableTopRow{
    margin-bottom: 20px;
}

#topLikedTableClicked{
    margin-bottom: 30px;
}

#topTableIdea{
    display: table-cell;
    padding: 0 3%;
}

#topTableLists{
    display: table-cell;
    width: 20%;
    float: left;
    padding-left: 20px;
}

#topTableHeader{
    font-size: 35px;
    font-family: "Arial Black";
    margin-bottom: 20px;
    background-color: gainsboro;
    margin-right: 50px;
    text-align: center;
    border-radius: 10px;
}

.topTableHeader{
    font-size: 20px;
    font-family: "Arial Black";
}

#topTable{
    padding: 45px;
    padding-bottom: 80px;
    background-color: blanchedalmond;
    border-radius: 15px;
    padding-right: 0px;
}