.listRow{
    /* background-color: azure; */
}

.listRow:hover{
    background-color: pink;
    cursor: pointer;
}

#topLikedTable{
    width: 45%;
    display: inline-block;
}

#topHardTable{
    width: 45%;
    display: inline-block;
}

#topLikedTableClicked{
    margin-bottom: 20px;
}

#topTableIdea{
    display: table-cell;
    width: 80%;
    padding: 0 10%;
}

#topTableLists{
    display: table-cell;
    width: 20%;
    float: left;
}

#topTableHeader{
    font-size: 35px;
    font-family: "Arial Black";
    margin-bottom: 10px;
    
}