#mainPage{

  }
  
  body{
    background-color: #F4F9FF;
  }
  
  .mainContent{
    padding: 0 20%;
  }
  
  html, body {
      margin:0; 
      padding:0;
      height: 100%;
      background-color: grey !important; 
  }